.Tournament-Container {
  background: #251942;
  height: 55px;
  display: flex;
  flex-direction: row;
}
.Options-Container {
  display: flex;
  flex-direction: column;
  background: #251942;
  margin-top: 0.2em;
  font-weight: 600;
  float: left;
  width: 100%;
  height: 80vh;
  letter-spacing: 0.65px;
}
.postion-setter {
  margin-top: 1.3em;
  margin-left: 20%;
}
.shareir {
  margin-top: 50px;
}
.m0 {
  font-weight: 600;
}
.m1,
.m2,
.m3,
.m4,
.m6,
.m7 {
  height: 6px;
  font-weight: 300;
}
.newage-esports {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.63px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: -5px;
}
.create-tournament {
  margin-top: -20px;
  margin-left: 0px;
  font-size: 14px;
  width: 170px;
  height: 18px;
  letter-spacing: 0.49px;
  color: #ba32ff;
  text-align: left;
  font-family: "Rajdhani";
  text-transform: uppercase;
}
.text-container {
  padding-left: 15px;
}
.Angle-Left {
  margin-top: 20px;
  margin-left: 18px;
  height: 17px;
}
