.app {
  font-family: "Rajdhani", sans-serif;
  background-color: #16032a;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  height: 100%;
  margin-top: 0.2em;
}

.left-nav-container {
  width: 20%;
}

.tabs-menu-container {
  width: 80%;
  padding-left: 1em;
}

.MuiTabs-flexContainer {
  height: 55px;
}

.MuiAppBar-colorPrimary {
  background-color: #16032a !important;
}

.MuiTab-root {
  min-width: 100px !important;
  font-family: "Rajdhani", sans-serif;
}

.PrivateTabIndicator-colorSecondary-3 {
  height: 5px !important;
  background-color: #ba32ff !important;
  /* width: 60px !important;
  left: 20px !important; */
}
.MuiInputBase-input {
  font-family: "Rajdhani";
  color: white !important;
  width: 464px !important;
  border: 2px !important;
  border-color: #5637a2 !important;
  height: 50px !important;
  margin: 0 !important;
  display: block;
  padding: 6px 0 7px !important;
  min-width: 0;
  /* letter-spacing: 2px; */
  background: #21123a !important;
  box-sizing: content-box !important;
  letter-spacing: inherit !important;
  animation-duration: 10ms !important;
  -webkit-tap-highlight-color: transparent !important;
  border-radius: 10px;
}
.input-container {
  display: flex;
  margin-top: 9px;
  margin-left: 19px;
  width: 464px;
  height: 50px;
  border: 1px solid var(--unnamed-color-5637a2);
  border: #5637a2;
  border-radius: 20px;
  opacity: 1;
}
.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-weight: 400; */
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}
.match-details {
  margin-top: 20px;
  margin-left: 0x;
  width: 97%;
  height: 190px;
  background: var(--unnamed-color-21123a) 0% 0% no-repeat padding-box;
  background: #21123a 0% 0% no-repeat padding-box;
  opacity: 1;
}
.matchdetails-header {
  padding-top: 17px;
  padding-left: 19px;
  width: 128px;
  height: 21px;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  opacity: 100%;
}

.selected-tournament {
  padding: 15px 0 0 30px;
  text-transform: uppercase;
  font: 600 13px Rajdhani;
  color: #5637a2;
}

.Skyleague-tournament {
  padding: 5px 0 0 30px;
  font-size: 23px;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  opacity: 0.9;
}
