.playerimg-container{
    margin-top:-30px;
    margin-left:40px;
}
.valyn-container{
        margin-left: 15px;
        margin-top: 47px;
        font-size: 18px;
        font-weight: 300px;
        font-family: "Rajdhani", sans-serif;
        width:48px;
    }

.allmapsvalue-conatainer
    {
    display: flex;
    flex-direction: row;
    }


.textdetails-container{
    margin-left: 90px;
    display:inline-block;
    width: 1000px;
    height:150px;
}
.textdetails-container .flex {
    display: flex;
}

.textdetails-container .lastone  .MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 343px !important;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: inline-block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}